# Django Core
Django==5.2.11
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2025.1

# REST & Authentication
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
djoser==2.3.3
django-cors-headers==4.9.0

# WebSockets / Channels
channels==4.3.2
channels-redis==4.3.0
daphne==4.2.1
redis==7.1.1

# Database
psycopg2-binary==2.9.11
dj-database-url==3.1.2

# Static Files
whitenoise==6.8.2

# Environment Variables
python-dotenv==1.0.1

# Cloud Storage

cloudinary==1.42.1
django-cloudinary-storage==0.3.0

# Authentication Providers
social-auth-app-django==5.7.0
social-auth-core==4.8.4
python3-openid==3.2.0
oauthlib==3.3.1
requests==2.32.5

# Utilities
attrs==25.4.0
certifi==2026.1.4
charset-normalizer==3.4.4
cryptography==46.0.4
idna==3.11
packaging==26.0
six==1.17.0
typing_extensions==4.15.0
ujson==5.11.0
msgpack==1.1.2

